        </tbody>
        
        <thead>
            <tr>
                <th colspan="4">Totais</th>
                <th><?php echo $this->Formatacao->moeda($totalBruto); ?></th>
                <th><?php echo $this->Formatacao->moeda($totalComissao); ?></th>
                <th><?php echo $this->Formatacao->moeda($totalTaxa); ?></th>
                <th><?php echo $this->Formatacao->moeda($total); ?></th>
                <th><?php echo $totalCrescimento; ?></th>
            </tr>
        </thead>
    </table>
                    </div>
            </div>
    </div>